@font-face {
    font-family: 'BentonModDisp BD';
    src: url('fonts/BentonModDisp-Bold.woff2') format('woff2'),
        url('fonts/BentonModDisp-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BentonModDisp RG I';
    src: url('fonts/BentonModDisp-RegularItalic.woff2') format('woff2'),
        url('fonts/BentonModDisp-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BentonModDisp RG';
    src: url('fonts/BentonModDisp-Regular.woff2') format('woff2'),
        url('fonts/BentonModDisp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BentonModDisp RG';
    font-size: 20px;
    line-height: 26px;
    background: #302340;
    color: #ffffff;
    letter-spacing: 1px;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
}

@media screen and (max-size: 414px) {
    .container {
        max-width: 400px;
    }
}

@media screen and (max-size: 768px) {
    .container {
        max-width: 700px;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 50px;
    color: #ffffff;
}

.logo {
    max-width: 180px;
}

.logo img {
    max-width: 100%;
}

/* LINKS */

a, 
a:visited, 
a:active {
    color: #f6ffdb;
    text-decoration: none;;
}

a:hover {
    background: #f6ffdb;
    color: #16160c;
}


.highlight {
    color: #d9d71e;
    border-bottom: 2px solid;
    font-family: 'BentonModDisp BD';
}

/* HEADERS */

h1 {
    color: #a790bc;
    line-height: 35px;
    font-family: 'BentonModDisp BD';
}

.h1-icon {
    width: 30px;
    display: inline-block;
    transform: translateY(-15px);
}

.welcome-screen {
    width: 100%;
    max-width: 700px;
    margin: 20vh auto;
}

@media only screen and (max-size: 414px) {
    .welcome-screen {
        left: 0vw;
    }
}

header {
    font-family: 'BentonModDisp BD';
    font-size: 125px;
    line-height: 100px;
    color: #d9d71e;
}

.header-icon {
    width: 50px;
    display: inline-block;
    transform: translateY(-35px);
}

.logo-text a {
    font-family: 'BentonModDisp BD';
    color: #d9d71e;
    font-size: 35px;
}

.logo-text a:hover {
    background: transparent;
}

/* MAIN LISTING PAGE */
.dreams-card {
    display: inline-flex;
    width: 100%;
}

.dreams-card-category {
    margin-right: 30px;
}


/* FORMS */

.form-row {
    margin: 25px 0;
    display: inline-flex;
    justify-content: stretch;
    width: 100%;
}

.form-row-text {
    border-bottom: 1px solid;
}

.form-row-title-highlight {
    background: #2d396c;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.label-name {
    margin: 0 20px 0 0;
    /* width: 50%; */
}

input[type="text"] {
    width: 400px;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    color: #ffffff;
    outline: none;
}

.input-text:focus {
    outline: none;
    box-shadow: none;
    background: transparent;
}

textarea {
    resize: none;
    outline: none;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

    /* auto complete styles
    /* Change Autocomplete styles in Chrome*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    font-size: 18px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    }


input[type="radio"] {
    visibility: hidden;
}

.feelings-label {
    width: 35px;
    height: 35px;
}

label[for="angry"] {
    background: url('/images/feelings/angry.png') no-repeat center;
    background-size: contain;
}

:checked + label[for="angry"] {
    background: url('/images/feelings/angry-checked.png') no-repeat center;
    background-size: contain;
}

label[for="happy"] {
    background: url('/images/feelings/happy.png') no-repeat center;
    background-size: contain;
}

:checked + label[for="happy"] {
    background: url('/images/feelings/happy-checked.png') no-repeat center;
    background-size: contain;
}

label[for="peaceful"] {
    background: url('/images/feelings/peaceful.png') no-repeat center;
    background-size: contain;
}

:checked + label[for="peaceful"] {
    background: url('/images/feelings/peaceful-checked.png') no-repeat center;
    background-size: contain;
}

label[for="scared"] {
    background: url('/images/feelings/scared.png') no-repeat center;
    background-size: contain;
}

:checked + label[for="scared"] {
    background: url('/images/feelings/scared-checked.png') no-repeat center;
    background-size: contain;
}

label[for="worried"] {
    background: url('/images/feelings/worried.png') no-repeat center;
    background-size: contain;
}

:checked + label[for="worried"] {
    background: url('/images/feelings/worried-checked.png') no-repeat center;
    background-size: contain;
}

/* :checked + label {
    border-color: #ddd;
}
  
:checked + label:before {
content: "✓";
background-color: grey;
transform: scale(1);
} */

.form-button {
    text-align: center;
    display: block;
    margin: 20px auto;
}

.button-submit {
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    width: 250px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'BentonModDisp BD';
}

.button-submit:hover {
    cursor: pointer;
}

.button-submit {
    background: rgb(115,99,159);
    background: linear-gradient(90deg, #c28bb7 0%, rgba(115,99,159,1) 50%, 
    rgba(84,83,147,1) 100%);
}

/* USER profile */

.user-profile-top {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-profile-cards {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin: 20px auto;
    flex-wrap: wrap;
}

.user-profile-cards-dream {
    flex: 1 1 33%;
    margin-bottom: 20px;
}

.user-name {
    color: #d9d71e;
    border-bottom: 2px solid;
    font-family: 'BentonModDisp BD';
}

.button-follow {
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'BentonModDisp BD';
}

.button-follow:hover {
    cursor: pointer;
}

.button-follow {
    background: rgb(115,99,159);
}

/* INDEX */

.sleeping {
    position: absolute;
    top: 30%;
    left: 55%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sleeping span {
    color: #35395f99;
    font-family: 'BentonModDisp BD';
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 80px;
    opacity: 0;
    -moz-animation: sleep 9s infinite linear;
    -webkit-animation: sleep 9s infinite linear;
    animation: sleep 9s infinite linear;
}

.sleeping span:nth-child(2n) {
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.sleeping span:nth-child(3n) {
    -moz-animation-delay: 6s;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}
  
@-webkit-keyframes sleep {
    0% {
      -moz-transform: translate(0, 0) scale(0.3);
      -ms-transform: translate(0, 0) scale(0.3);
      -webkit-transform: translate(0, 0) scale(0.3);
      transform: translate(0, 0) scale(0.3);
      opacity: 0;
    }
    1% {
      opacity: 0;
    }
    3% {
      opacity: 1;
    }
    50% {
      -moz-transform: translate(90%, -50%) scale(0.65);
      -ms-transform: translate(90%, -50%) scale(0.65);
      -webkit-transform: translate(90%, -50%) scale(0.65);
      transform: translate(90%, -50%) scale(0.65);
    }
    75% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(180%, -100%) scale(1);
      -ms-transform: translate(180%, -100%) scale(1);
      -webkit-transform: translate(180%, -100%) scale(1);
      transform: translate(180%, -100%) scale(1);
      opacity: 0;
    }
}
@-moz-keyframes sleep {
    0% {
      -moz-transform: translate(0, 0) scale(0.3);
      -ms-transform: translate(0, 0) scale(0.3);
      -webkit-transform: translate(0, 0) scale(0.3);
      transform: translate(0, 0) scale(0.3);
      opacity: 0;
    }
    1% {
      opacity: 0;
    }
    3% {
      opacity: 1;
    }
    50% {
      -moz-transform: translate(90%, -50%) scale(0.65);
      -ms-transform: translate(90%, -50%) scale(0.65);
      -webkit-transform: translate(90%, -50%) scale(0.65);
      transform: translate(90%, -50%) scale(0.65);
    }
    75% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(180%, -100%) scale(1);
      -ms-transform: translate(180%, -100%) scale(1);
      -webkit-transform: translate(180%, -100%) scale(1);
      transform: translate(180%, -100%) scale(1);
      opacity: 0;
    }
}
@-ms-keyframes sleep {
    0% {
      -moz-transform: translate(0, 0) scale(0.3);
      -ms-transform: translate(0, 0) scale(0.3);
      -webkit-transform: translate(0, 0) scale(0.3);
      transform: translate(0, 0) scale(0.3);
      opacity: 0;
    }
    1% {
      opacity: 0;
    }
    3% {
      opacity: 1;
    }
    50% {
      -moz-transform: translate(90%, -50%) scale(0.65);
      -ms-transform: translate(90%, -50%) scale(0.65);
      -webkit-transform: translate(90%, -50%) scale(0.65);
      transform: translate(90%, -50%) scale(0.65);
    }
    75% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(180%, -100%) scale(1);
      -ms-transform: translate(180%, -100%) scale(1);
      -webkit-transform: translate(180%, -100%) scale(1);
      transform: translate(180%, -100%) scale(1);
      opacity: 0;
    }
}
@keyframes sleep {
    0% {
      -moz-transform: translate(0, 0) scale(0.3);
      -ms-transform: translate(0, 0) scale(0.3);
      -webkit-transform: translate(0, 0) scale(0.3);
      transform: translate(0, 0) scale(0.3);
      opacity: 0;
    }
    1% {
      opacity: 0;
    }
    3% {
      opacity: 1;
    }
    50% {
      -moz-transform: translate(90%, -50%) scale(0.65);
      -ms-transform: translate(90%, -50%) scale(0.65);
      -webkit-transform: translate(90%, -50%) scale(0.65);
      transform: translate(90%, -50%) scale(0.65);
    }
    75% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(180%, -100%) scale(1);
      -ms-transform: translate(180%, -100%) scale(1);
      -webkit-transform: translate(180%, -100%) scale(1);
      transform: translate(180%, -100%) scale(1);
      opacity: 0;
    }
}
  
.index-description {
    background: rgb(53,57,95, 0.4);
    padding: 10px;
}

.index-actions {
    margin: 20px auto;
}
